
<section id="about" class="py-8 md:py-16 flex flex-col md:flex-row gap-8">

  <div class="w-48 h-48">
    <img class="object-cover object-top rounded-full w-full h-full" src="https://github.com/GersonGarayar20.png" alt="gerson">
  </div>

  
  <div class="grid gap-8 md:w-3/4">
    <h2 class="text-4xl md:text-left font-semibold text-center text-neutral-200">About me</h2>

    
    <div class="grid gap-4 text-neutral-400">
      <p>
        Soy desarrollador web con más de un año de experiencia en el desarrollo frontend, backend.
      </p>
      <p>
        He realizado trabajos y proyectos utilizando tecnologías modernas, he trabajado en equipo llevando un control del tiempo y aplicando metodologías de trabajo.
      </p>
      <p>
        me considero una persona creativa y apasionada, busco la mejor forma más eficiente de solucionar problemas y tener un código más legible y escalable.
      </p>
      <p>
        Me encanta el diseño y el desarrollo web, cada dia mejoro mis habilidades y conocimientos.
      </p>
    </div>
  </div>

  

</section>