---
import SkillList from "../components/SkillList";
---

<section id="skills" class="py-8 md:py-16 flex flex-col gap-8">

  <h2 class="text-4xl md:text-left font-semibold text-center text-neutral-300 ">Skills</h2>
  
  <SkillList client:load ></SkillList>


</section>

